
<%- include("partials/header.ejs") %>
<h1>compose a post</h1>
<form action="/compose" method="POST">

  <textarea name="title" type="text" class="feedback-input" placeholder="title"></textarea>
  <textarea name="text" class="feedback-input" placeholder="Contant"></textarea>
  <input  type="submit" value="SUBMIT" />
</form>
<%- include("partials/footer.ejs") %>